<ion-view view-title="{{ 'ABOUT.TITLE' | translate }}">

 <ion-nav-buttons side="left">
       &nbsp;<a class="ion-home custom-nav-button" href="#/tab" ></a>
 </ion-nav-buttons>

  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
	
	      <div class="item item-body">
			  <center>
			<label class="item ">
				<div ng-bind-html="'ABOUT.BY' | translate"></div>
			</label>
			<label class="item ">
				<div ng-bind-html="'ABOUT.CREDITS' | translate"></div>
			</label>
			 </center>
	      </div>
	
      </div>
    </div>
	
 
		<a class="button button-clear button-block button-positive" href="#/feedback">{{ 'ABOUT.SENDFEEDBACK' | translate }}</a>
	
  </ion-content>
</ion-view>
