<ion-view view-title="{{ 'FEEDBACK.TITLE' | translate }}">

 <ion-nav-buttons side="left">
       &nbsp;<a class="ion-home custom-nav-button" href="#/tab" ></a>
 </ion-nav-buttons>

  <ion-content class="padding">
    <div class="list card">
      
      
	
	      <div class="item item-body">
			  <label class="item item-input">
			    <input type="text" placeholder="{{ 'FEEDBACK.TEXT' | translate }}">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="{{ 'FEEDBACK.DESCRIPTION' | translate }}">
			  </label>
			  
			  <button class="button button-block button-stable">
			        {{ 'FEEDBACK.SUBMIT' | translate }}
			   </button>
			   
	      </div>
	
	
	
	</div>
  </ion-content>
</ion-view>
