<ion-view view-title="{{ 'PROFILE.TITLE' | translate }}">



  <ion-content class="padding">
    <div class="list card">
      
	  <div class="item item-divider">{{ 'PROFILE.SETTINGS' | translate }}</div>
      <div class="item item-body">
	
	      <div class="item item-body">
			<label class="item item-input item-select">
			    <div class="input-label"> {{ 'PROFILE.LANGUAGE' | translate }} </div>
				<select ng-options="o as o.name for o in settings.langs  track by o.id" ng-model="settings.lang"></select>
			</label>
	      </div>
      </div>
	</div>
	
    <div class="list card">      
	  <div class="item item-divider">{{ 'PROFILE.USERINFO.TITLE' | translate }}</div>
      <div class="item item-body">
	
	      <div class="item item-body">
			  <label class="item item-input">
			    <input type="text" placeholder="{{ 'PROFILE.USERINFO.NAME' | translate }}" ng-model="settings.name">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="{{ 'PROFILE.USERINFO.EMAIL' | translate }}" ng-model="settings.email">
			  </label>			  
	      </div>
      </div>
	</div>
  </ion-content>
  
  
  <div class="bar bar-footer">
  	 <a class="title button-large button-block button-clear button-positive" href="#/tab/infos" > {{ 'NAVIGATION.HOME' | translate }} </a>
  </div>
  
  
</ion-view>
