<ion-view view-title="{{ 'SEARCH.TITLE' | translate }}">


  <ion-content class="padding">
          <div class="list list-inset">
              <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <!-- SEARCH ONLY WHEN RETURN PRESSED
					  input type="text" placeholder="{{ 'SEARCH.SEARCHTERM.PLACEHOLDER' | translate }}" ng-model="term" ng-keyup="$event.keyCode == 13 && searchTerm()" ng-change="searchNow()"-->

                  <input id="searchTermInput" type="search" 
				  		placeholder="{{ 'SEARCH.SEARCHTERM.PLACEHOLDER' | translate }}" 
						ng-model="term" 
						ng-keyup="searchTerm()" >

              </label>
              
			  <h3 ng-show="showResults">{{hits.length}} {{ 'SEARCH.HITS' | translate }} "{{term}}"</h3>

		  		<center> 
					<h3 ng-show="!term" class="button button-clear button-light">
						{{ 'SEARCH.NOSEARCHTERMENTRY' | translate }}
					</h3>
				</center>
			  
			  <div class="list" ng-repeat="hit in hits">
                  <singleresult data="hit"/>
              </div>
          </div>
      </ion-content>
	  
	  
	  <div class="bar bar-footer">
	  	 <a class="title button-large button-block button-clear button-positive" href="#/tab/infos" > {{ 'NAVIGATION.HOME' | translate }} </a>
	  </div>
	  
	  
</ion-view>
