  
<ion-view view-title="Welcome to Austria" left-buttons="leftButtons" right-buttons="rightButtons">

   <ion-nav-buttons side="left">
      <button class="ion-ios-person custom-nav-button" ng-click="openProfile()"></button>
    </ion-nav-buttons>
 <ion-nav-buttons side="right">
    <button class="ion-ios-search-strong custom-nav-button" ng-click="searchInfos()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Where Am I?</div>
      <div class="item item-body">
        <div>
          Current City ...
        </div>
        <div>
          Nearest Camp ...
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">How Can I get to?</div>
      <div class="item item-body">
        <div>
          Education: German Courses ...
        </div>
        <div>
          Translations ...
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">I Need Medical Help</div>
      <div class="item item-body">
        <div>
          Hospital ...
        </div>
        <div>
          Doctor ...
        </div>
        <div>
          Ambulance ...
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
