<ion-view name="view-tab-infos-detail" view-title="{{item.title}}"  >




  
  
   <ion-content class="padding">
	<div class="card">
		<center>
	  <div class="item item-text-wrap">
	     
	     <img ng-src="{{item.image}}" style="width: 164px; height: 164px">	 
	 	 
	  </div>
	  <div class="item item-divider">
	    {{item.title}} 
	  </div>
	   </center>
	</div>
	
	
	<div class="card">
	  <div class="item item-text-wrap" ng-show="{{!item.descriptionHtml.length}} " >
	     {{item.description}} 
	  </div>
	  <div class="item item-text-wrap" ng-bind-html="item.descriptionHtml" ng-show="item.descriptionHtml.length"></div>

	  <a href="{{item.contact.url}}" class="item item-icon-left" ng-show="{{item.contact.url.length}}" >
	      <i class="icon ion-android-globe"></i>
	      {{item.contact.url}} 
	    </a>
	  
	  <a href="mailto:{{item.contact.email}}?subject=Hello&body=sent from Danke!" class="item item-icon-left" ng-show="{{item.contact.email.length}}" >
	      <i class="icon ion-ios-email-outline"></i>
	      {{item.contact.email}} 
	    </a>
		
	  <a href="tel:{{item.contact.tel}} " class="item item-icon-left" ng-show="{{item.contact.tel.length}}" >
	      <i class="icon ion-android-call"></i>
	      {{item.contact.tel}} 
	    </a>
	  
	  <a href="http://maps.google.com/?q={{item.contact.long}},{{item.contact.lat}}" class="item item-icon-left" ng-show="{{item.contact.long}}" >
	      <i class="icon ion-android-pin"></i>
		  <div ng-show="{{item.contact.person.length}}">{{item.contact.person}}</div>
	      {{item.contact.street}}<br />
		  {{item.contact.zip}}  {{item.contact.city}} 
	    </a>
	  
	  <a href="#" class="item item-icon-left" ng-show="{{!item.contact.long && item.contact.street.length}}" >
	      <i class="icon ion-ions-home"></i>
	      <div ng-show="{{item.contact.person.length}}">{{item.contact.person}}</div>
		  {{item.contact.street}}<br />
		  {{item.contact.zip}}  {{item.contact.city}} 
	    </a>
	  
	  <a href="#" class="item item-icon-left" ng-show="{{item.contact.hours.length}}" >
	      <i class="icon ion-ios-clock-outline"></i>
	      {{item.contact.hours}} 
	    </a>
	  
	  
	  <div class="item item-text-wrap" ng-bind-html="item.notes" ng-show="{{item.notes.length}}"></div>
	</div>
	
  </ion-content>
	
</ion-view>
