<ion-view view-title="{{ 'FAVORITES.TITLE' | translate }}" >
 
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">{{ 'FAVORITES.LAST_SEARCH' | translate }}</div>
      <div class="item item-body">
  	    
		<ion-list>
  	      <ion-item class="item-icon-left" 
		  			ng-repeat="item in items |filter: filterLastWeek  |  orderBy: 'title'" 
					type="item-text-wrap" 
					href="#/tab/favorites/{{item.id}}">
  	        <i class="icon ion-ios-clock icon-small"></i>
			<div>
				 
				<p class="truncate"> {{item.timestamp}} <b>{{item.title}}</b></p>
			</div>
  	      </ion-item>
  	    </ion-list>
		
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">{{ 'FAVORITES.TOP_SEARCHES' | translate }}</div>
      <div class="item item-body">

	    <ion-list>
	      <ion-item class="item-icon-left favorite-item" 
		  			ng-repeat="item in items |filter: filterTopFavorites |  orderBy: 'title'" 
					type="item-text-wrap" 
					href="#/tab/favorites/{{item.id}}">
		  	<i class="icon ion-ios-star icon-small"></i>	        
			<h3>{{item.title}}</h3>
	      </ion-item>
	    </ion-list>
		
      </div>
    </div>
  </ion-content>
  
</ion-view>
