<ion-view view-title=" {{ 'INFOS.TITLE' | translate }}" left-buttons="leftButtons" right-buttons="rightButtons" name="infos">

  <ion-nav-buttons side="left">
    <button class="ion-ios-person button-large button-clear" ng-click="navigateTo('/profile')" ></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="ion-ios-search-strong  button-large button-clear" ng-click="navigateTo('/search')"></button>
  </ion-nav-buttons>

  <ion-content class="padding" >
  
	<ion-refresher pulling-text="{{ 'NAVIGATION.PULL_TO_REFRESH' | translate }}" on-refresh="doRefresh()"></ion-refresher>
  
    <div class="list card" ng-show="( items | filter:filterLocationAndRouting ).length ">
      <div class="item item-divider ion-location">
		  {{ 'INFOS.WHERE_AM_I' | translate }}
	  </div>
      <div class="item item-body item-text-wrap">
		  
        <ion-list>
          <ion-item class="item-icon-right item-avatar info-item" 
    	  			ng-repeat="item in items |filter: filterLocationAndRouting |  orderBy: 'name'" 
    				type="item-text-wrap" 
    				href="#/tab/infos/{{item.id}}">
    			<img ng-src="{{item.image}}" class="info-image-preview"></img>	
    			<h2>{{item.name}}</h2>
    			<p class="truncate">{{item.description}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
		
      </div>
    </div>
    <div class="list card" ng-show="( items | filter:filterLanguage ).length ">
      <div class="item item-divider  ion-university">&nbsp;
		  {{ 'INFOS.LANGUAGE' | translate }}</div>
      <div class="item item-body">
		  
    <ion-list>
      <ion-item class="item-icon-right item-avatar info-item" 
	  			ng-repeat="item in items |filter: filterLanguage |  orderBy: 'name'" 
				type="item-text-wrap" 
				href="#/tab/infos/{{item.id}}">
			<img ng-src="{{item.image}}" class="info-image-preview"></img>	
			<h2>{{item.name}}</h2>
			<p class="truncate">{{item.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>	  
		  
   
      </div>
    </div>
    <div class="list card" ng-show="( items | filter:filterMedi ).length ">
      <div class="item item-divider ion-medkit">&nbsp;{{ 'INFOS.I_NEED_MEDICAL_HELP' | translate }}</div>
      <div class="item item-body">

	   
	   
	   
       <ion-list>
         <ion-item class="item-icon-right item-avatar info-item" 
   	  			ng-repeat="item in items |filter: filterMedi |  orderBy: 'name'" 
   				type="item-text-wrap" 
   				href="#/tab/infos/{{item.id}}">
   			<img ng-src="{{item.image}}" class="info-image-preview"></img>	
   			<h2>{{item.name}}</h2>
   			<p class="truncate">{{item.description}}</p>
           <i class="icon ion-chevron-right icon-accessory"></i>
         </ion-item>
       </ion-list>
	   
       </div>
     </div>  
	
    <div class="list card" ng-show="( items | filter:filterCulture ).length ">
      <div class="item item-divider ion-ios-people">&nbsp;{{ 'INFOS.CULTURE' | translate }}</div>
      <div class="item item-body">

	    
        <ion-list>
          <ion-item class="item-icon-right item-avatar info-item" 
    	  			ng-repeat="item in items |filter: filterCulture |  orderBy: 'name'" 
    				type="item-text-wrap" 
    				href="#/tab/infos/{{item.id}}">
    			<img ng-src="{{item.image}}" class="info-image-preview"></img>	
    			<h2>{{item.name}}</h2>
    			<p class="truncate">{{item.description}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
		
		
      </div>
    </div>
	
    <div class="list card" ng-show="( items | filter:filterOthers ).length ">
      <div class="item item-divider ion-more">&nbsp;{{ 'INFOS.OTHERS' | translate }}</div>
      <div class="item item-body">

	    
        <ion-list>
          <ion-item class="item-icon-right item-avatar info-item" 
    	  			ng-repeat="item in items |filter: filterOthers |  orderBy: 'name'" 
    				type="item-text-wrap" 
    				href="#/tab/infos/{{item.id}}">
    			<img ng-src="{{item.image}}" class="info-image-preview"></img>	
    			<h2>{{item.name}}</h2>
    			<p class="truncate">{{item.description}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
		

      </div>
    </div>
	
	
	<center>
		<a class="button button-clear button-positive" href="#/about">{{ 'ABOUT.TITLE' | translate }}</a>
		<div class="timestamp">{{lastUpdateTimestamp}}</div>
	</center>
	
  </ion-content>
</ion-view>
