<ion-view view-title="{{ 'GOODS.TITLE' | translate }}" >

    <ion-nav-buttons side="right">
       <button class="ion-refresh custom-nav-button button-clear" ng-click="doRefresh()"></button>
     </ion-nav-buttons>
	 
	 
	 
  <ion-content class="padding">

	 	<ion-refresher pulling-text="{{ 'NAVIGATION.PULL_TO_REFRESH' | translate }}" on-refresh="doRefresh()"></ion-refresher>
		
		<!-- language selection -->
		<div class="button-bar" ng-click="selectAll">
  			<ion-checkbox class="col col-40 item-checkbox-right button-clear padding-right" ng-model="display.de">Deutsch:</ion-checkbox>
			<div class="padding"></div>
  			<ion-checkbox class="col col-40 item-checkbox-right button-clear padding-right" ng-model="display.en">English:</ion-checkbox>
			<div class="padding"></div>
			<ion-checkbox class="col col-40 item-checkbox-right button-clear padding-right" ng-model="display.ar">Arabic:</ion-checkbox>
		</div>
			
  
    <div class="list card">
      <div class="item item-divider">{{ 'GOODS.FOR_FREE' | translate }}</div>
      <div class="item item-body">
	    <ion-list>
	      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items|filter: filterOtherOffers |  orderBy: 'title'" type="item-text-wrap" href="#/tab/goods/{{item.id}}">
	        <img ng-src="{{server_image_url}}{{item.image}}">
	        <h2>{{item.title}}</h2>
	        <p>{{item.description}}</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	      </ion-item>
	    </ion-list>
      </div>
	<center>
		<div class="timestamp">{{lastUpdateTimestamp}}</div>
	</center>
	  
    </div>
	
	
    <div class="list card" ng-hide="email">
      <div class="item item-divider">{{ 'GOODS.MY_OFFERS' | translate }}</div>
      <div class="item item-body">
		 <ion-item>
		 <h3>
			 If you <a href="#profile">enter your emai</a>, you can offer goods and services to others...
		</h3>
	 	</ion-item>
	  </div>
	</div>

    <div class="list card" ng-show="email">
      <div class="item item-divider">{{ 'GOODS.MY_OFFERS' | translate }}</div>
      <div class="item item-body">
	    <ion-list>
	      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items |filter: filterMyOffers |  orderBy: 'name'" type="item-text-wrap" href="#/tab/goods/{{item.id}}">
	        <img ng-src="{{server_image_url}}{{item.image}}" ng-show="item.image">
	        <h2>{{item.title}}</h2>
	        <p>{{item.description}}</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	        <ion-option-button class="button-assertive" ng-click="remove(item)">
	          Delete
	        </ion-option-button>
	      </ion-item>
	    </ion-list>
		
		
	    <!-- 
	  	  TODO: insert a list showing the queued offers (if offline and not sent up to now)
	    -->
		
		
		
	    <!-- 
	  	  CREATE a NEW OFFER:
	    -->
		
		<div class="item item-divider" >{{ 'GOODS.NEW_OFFER.TITLE' | translate }}</div>
		<ion-item  class="list">
		  <label class="item item-input item-select">
		    <div class="input-label"> {{ 'PROFILE.LANGUAGE' | translate }} </div>
			<select ng-options="o as o.name for o in newoffer.langs  track by o.id" ng-model="newoffer.language"></select>
		  </label>
		
		  <label class="item item-input">
		    <input  type="text" 
					placeholder="{{ 'GOODS.NEW_OFFER.PLACEHOLDER.TITLE' | translate }}"
					ng-model="newoffer.title" >
		  </label>
		  <label class="item item-input">
		    <input 	type="text" 
					placeholder="{{ 'GOODS.NEW_OFFER.PLACEHOLDER.DESCRIPTION' | translate }}" 
					ng-model="newoffer.description">
		  </label>
		  <label class="item item-input">
		    <textarea 
					placeholder="{{ 'GOODS.NEW_OFFER.PLACEHOLDER.COMMENTS' | translate }}"
					ng-model="newoffer.comments"
					></textarea>
		  </label>
		  <!-- on devices we might add a photo! 
		  		 TODO: repair = show only on supported devices e.g. on ios
		  -->
		  <button 	ng-click="getPhoto()" 
		  			class="button button-block button-primary"
					ng-show="photosEnabled"
					>{{ 'NAVIGATION.ADD_PHOTO_FOR_OFFER' | translate }}</button>
		  <img ng-src="{{newoffer.photo}}" 
		  		style="max-width: 100%" 
				ng-show="newoffer.photo">
		  <button class="button button-block button-stable" ng-click="sendMyNewOffer()" ng-show="newoffer.title">
		        {{ 'GOODS.NEW_OFFER.SUBMIT' | translate }}
		   </button>
		</ion-item>
		
		
      </div>
    </div>
		
  </ion-content>
  
  
  <!-- 
	  The MODAL view to ask: "are you sure? "
  -->
  <script id="contact-modal.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar>
        <h1 class="title">{{ 'GOODS.NEW_OFFER.CONFIRM_TO_ADD_OFFER_TITLE' | translate }}</h1>
      </ion-header-bar>
      <ion-content>
	  
	  
	  <div class="list">
	 	  
        <div class="list">
			<label class="item item-input">
	            <span class="input-label">
						{{ 'GOODS.NEW_OFFER.SELECTED_LANGUAGE' | translate }}: {{ newoffer.language.name }}
				</span>
			</label>
			
          <label class="item item-input">
            <span class="input-label">
					{{ newoffer.title }}
			</span>
          </label>
          <label class="item item-input" ng-show="newoffer.description">
            <span class="input-label">
					{{ newoffer.description }}
			</span>
          </label>
          <label class="item item-input" ng-show="newoffer.comments">
            <span class="input-label">
					{{ newoffer.comments }}
			</span>
          </label>
		  <img ng-src="{{newoffer.photo}}" 
		  		style="max-width: 100%" 
				ng-show="newoffer.photo"> 
        </div>
		<div class="padding">
        	<button class="button button button-stable" 
					ng-click="cancelModal()">{{ 'GOODS.NEW_OFFER.CONFIRM_TO_ADD_OFFER_CANCEL' | translate }}</button> 
			<button class="button button button-stable" ng-click="closeModal()">{{ 'GOODS.NEW_OFFER.CONFIRM_TO_ADD_OFFER_SUBMIT' | translate }}</button>
		</div>
      </ion-content>
    </div>
  </script>
  
</ion-view>




